@import 'bootstrap';
@import 'bootstrap-icons';
@import './404.css';

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-weight: bold;
}

/* ! HELPER */

.btn:active {
    border-color: transparent !important;
}

.fit-content {
    width: fit-content;
}

.min-vh-84 {
    min-height: 84.4vh;
}

.min-vh-50 {
    min-height: 50vh;
}

.w-80 {
    width: 80%;
}

.w-10 {
    width: 10%;
}

/* ! NAVBAR */

.navbar-brand {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

.navbar-brand img {
    margin-top: -0.5rem;
    margin-right: 1rem;
}
